body{
  margin:0;
  background-image: url("birds.jpg");
  text-decoration-color: White;
  height:100%;
  width:100%;
}
.kuria{
  padding: 0;
}
.cointainer{
  position: relative;
  text-color:White;
  float: right;
  orientation:horizontal;
  padding:0;
}
.main{
  font-size: 20;
  margin:0;
  padding:0;
  float:top;}
  #were{
    border-color: grey;
  }
  .peter{
    float:right;
    overflow: scroll;
  }
.second{
  font-size: 20;
  text-color: red;
  padding:0;
  margin:0;
  box-sizing: 0;

}
.third{
  font-size: 20;
  padding:0;
  margin:0;
  box-sizing: 0;
}
.fourth{
  font-size:20;
  float:right;
  padding:0;
  margin:0;
  box-sizing: 0;
}
.fifth{
  font-size: 20;
  padding:0;
  margin:0;
  box-sizing: 0;
}
.six,.seven{
  padding:0;
  margin:0;
  font-size: 20;
  box-sizing: 0;
}
.mbai{
  background-color: brown;
}
