.main{
  background-color: green;
  background-clip:
  font-size: 20;
  float:top
}
.second{
  background-color: white;
  font-size: 20;
  box-sizing: 0;
}
.third{
  background-color: red;
  font-size: 20;
  box-sizing: 0;
}
.fourth{
  background-color: white;
  font-size:20;
  box-sizing: 0;
}
.fifth{
  background-color: black;
  font-size: 20;
  text-decoration-color: pink;
  box-sizing: 0;
}
.six,.seven{
  background-color: green;
  font-size: 20;
  box-sizing: 0;
}
